<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


	<form id="findForm" action="${contextPath }/memberId/findIdCheck"
		method="post">
		<div class="form-group">
			<input type="text" name="name" id="name" placeholder="이름">
		</div>
		<div class="form-group">
			<input type="email" name="email" id="email" placeholder="이메일">
		</div>
		<button type="submit" id="id-find"
			onclick="findSubmit(); return false;">아이디 찾기</button>
			
	</form>

</body>
</html>
