<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .hidden{
        display: none;
    }
</style>
<body>
    <h1>박스 보이고 숨기기</h1>
    <div id="토글박스">글자보이기</div><!--button을 사용하지 않고 한번에 끝낼때 사용-->    
    <button onclick="보이기숨기기()">토글 클릭하기</button>

    <script>
        function 보이기숨기기(){
            const 박스 = document.getElementById("토글박스");
            //contains : 클래스 목록에 hidden 클래스가 포함되어 있는지 확인
            if(박스.classList.contains("hidden")){
                //만약에 존재한다면 hidden을 삭제
                박스.classList.remove("hidden");

            }
            else{
                //만약 없다면 hidden을 추가
                박스.classList.add("hidden");
            }
        }
    </script>
</body>
</html>